<template>
  <div class="favorites-wrapper">
    <div class="favorites">
      <h2>Favorites</h2>
      <div class="favorites__cards" v-if="getFavorites.length" v-loading="getLoading">
        <HotelCard
          v-for="hotel in getFavorites"
          :key="hotel.id"
          :hotel="hotel"
          :emailVerified="getUser.emailVerified"
          :favorites="getFavorites"
        />
      </div>
      <p v-else class="favorites__empty">You have no hotels in your favorites...</p>
    </div>
  </div>
</template>

<script>
import HotelCard from '@/components/HotelCard';
import { mapGetters } from 'vuex';
export default {
  name: 'Profile',
  computed: {
    ...mapGetters('profile', ['getUser']),
    ...mapGetters('favorites', ['getLoading', 'getError', 'getFavorites'])
  },
  async mounted() {
    await this.$store.dispatch('favorites/fetchFavorites');
  },
  components: {
    HotelCard
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.favorites-wrapper {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 72px);
}
.favorites {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  h2 {
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
  }
  &__empty {
    padding-left: 20px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $gray;
  }
  .hotel-card {
    width: 50%;
    padding: 20px 15px;
    border: 1px solid $gray;
    border-left: 0;
    border-top: 0;
    margin: 0;
    &__image {
      max-width: 300px;
    }
  }
  &::-webkit-scrollbar {
    width: 0px;
    display: none;
  }
  &::-webkit-scrollbar-track {
    width: 0px;
    display: none;
  }
}
</style>
