<template>
  <div class="screen" v-loading="getLoading">
    <div class="screen__item">
      <HotelsFilter :activeFilter="activeFilter" @change-filter="changeActiveFilter" />
      <Hotels
        @set-active-card="setActiveCard"
        v-if="getHotels.length"
        :activeFilter="activeFilter"
        :hotels="getHotels"
      />
    </div>
    <div class="screen__item" v-if="activeHotels && mapVisible">
      <button class="map-hide" @click="mapVisible = false" v-if="mapVisible">
        <i class="el-icon-close" />
      </button>
      <Map @set-active-card="setActiveCard" :activeCard="activeCard" :activeHotels="activeHotels" />
    </div>
    <el-button
      v-if="!mapVisible"
      class="show-map"
      icon="el-icon-map-location"
      @click="mapVisible = true"
      type="primary"
      circle
    />
  </div>
</template>

<script>
import Hotels from '@/components/Hotels';
import Map from '@/components/Map';
import HotelsFilter from '@/components/HotelsFilter';

import { mapGetters } from 'vuex';
export default {
  name: 'Home',
  data: () => ({
    activeFilter: 'Paris',
    activeCard: undefined,
    activeHotels: null,
    mapVisible: true
  }),
  computed: {
    ...mapGetters('hotels', ['getHotels', 'getLoading', 'getError']),
    getCenterCoordinates() {
      return this.getActiveHotels[0].city.location;
    }
  },
  methods: {
    setActiveHotels() {
      this.activeHotels = this.getHotels.filter(item => item.city.name === this.activeFilter);
    },
    changeActiveFilter(value) {
      this.activeFilter = value;
      this.setActiveHotels();
    },
    setActiveCard(item) {
      this.activeCard = item;
    }
  },
  components: {
    Hotels,
    Map,
    HotelsFilter
  },
  async mounted() {
    try {
      await this.$store.dispatch('hotels/fetchHotels');
      this.setActiveHotels();
    } catch (error) {
      this.$notify.error({
        title: 'Error!',
        message: `${this.getError}`
      });
      throw error;
    }
  }
};
</script>

<style lang="scss" scoped>
.screen {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 72px);
  display: flex;
  &__item {
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    .map-hide {
      position: absolute;
      width: 26px;
      height: 26px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
      border: 0;
      padding: 0;
      color: #000;
      top: 10px;
      right: 10px;
      z-index: 1000;
      background: #fff;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
    }
    &:first-child {
      padding: 0 20px;
    }
  }
  .show-map {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100;
    font-size: 20px;
  }
}
</style>
