<template>
  <div v-loading="getLoading">
    <div class="hotel" v-if="getHotel">
      <el-row>
        <el-col class="hotel__col" :span="12" :offset="6">
          <h1>{{ getHotel.title }}</h1>
          <el-tag v-if="getHotel.is_premium" class="tag premium" effect="dark" type="primary">premium</el-tag>
          <el-tag class="tag hotel__type" :class="{ active: !getHotel.is_premium }" effect="dark" type="success">{{
            getHotel.type
          }}</el-tag>
          <FavoriteButton :isFavorite="checkIsFavorite" :hotel="getHotel" :emailVerified="getUser.emailVerified" />

          <el-carousel indicator-position="outside" trigger="click">
            <el-carousel-item v-for="(image, i) in getHotel.images" :key="i">
              <img class="carousel-image" :src="image" :alt="getHotel.title" />
            </el-carousel-item>
          </el-carousel>

          <p class="hotel__description">{{ getHotel.description }}</p>

          <Reviews :reviews="getReviews" :hotelId="$route.params.id" />

          <ReviewForm v-if="!checkUserReview" :hotelId="getHotel.id" :user="getUser" />

          <l-map
            :zoom="zoom"
            :center="[getHotel.location.latitude, getHotel.location.longitude]"
            style="height: 400px; width: 100%;"
          >
            <l-tile-layer :url="url" :attribution="attribution" />
            <l-marker :lat-lng="[getHotel.location.latitude, getHotel.location.longitude]" :icon="iconActive" />
          </l-map>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import firebase from 'firebase/app';
import ReviewForm from '@/components/ReviewForm';
import Reviews from '@/components/Reviews';
import { icon } from 'leaflet';
import activeIcon from '@/assets/marker-active.svg';
import FavoriteButton from '@/components/FavoriteButton';
export default {
  name: 'HotelMore',
  data: () => ({
    zoom: 16,
    url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    iconActive: icon({
      iconUrl: `${activeIcon}`,
      iconSize: [30, 41]
    })
  }),
  computed: {
    ...mapGetters('hotels', ['getHotel', 'getLoading', 'getError']),
    ...mapGetters('favorites', ['getFavorites']),
    ...mapGetters('reviews', ['getReviews']),
    ...mapGetters('profile', ['getUser']),
    checkIsFavorite() {
      if (this.getFavorites) {
        const index = this.getFavorites.findIndex(item => item.id === this.getHotel.id);
        if (index === -1) {
          return false;
        } else {
          return true;
        }
      } else {
        return false;
      }
    },
    checkUserReview() {
      if (this.getReviews) {
        const user = firebase.auth().currentUser;
        const index = this.getReviews.findIndex(item => item.user.uid === user.uid);

        if (index !== -1) {
          return true;
        } else {
          return false;
        }
      } else {
        return false;
      }
    }
  },
  methods: {},
  async mounted() {
    await this.$store.dispatch('reviews/fetchReviews', this.$route.params.id);
    try {
      await this.$store.dispatch('hotels/fetchHotel', this.$route.params.id);
    } catch (error) {
      this.$notify.error({
        title: 'Error!',
        message: `${this.getError}`
      });
    }
    await this.$store.dispatch('profile/fetchUser');
    await this.$store.dispatch('favorites/fetchFavorites');
  },
  components: {
    FavoriteButton,
    ReviewForm,
    Reviews
  },
  beforeDestroy() {
    this.$store.commit('hotels/setHotel', null);
    this.$store.commit('reviews/setReviews', []);
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.hotel {
  padding-top: 40px;
  &__col {
    position: relative;
  }
  &__title {
    line-height: 1.2;
    margin-bottom: 0 !important;
  }
  &__description {
    font-size: 18px;
  }
  .add-to-favorite {
    z-index: 20;
    position: absolute;
  }
  .tag {
    z-index: 20;
    position: absolute;
    top: 94px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: $radius / 2;
  }
  .premium {
    right: 70px;
  }
  &__type {
    right: 165px;
    &.active {
      right: 70px;
    }
  }
  .add-to-favorite {
    right: 15px;
    top: 90px;
  }
}
.carousel-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
</style>
