<template>
  <el-row :gutter="20">
    <el-col :span="12" :offset="6">
      <h2>SignIn</h2>
      <el-form :model="form" ref="form">
        <el-form-item
          prop="email"
          :rules="[
            {
              required: true,
              message: 'Email is required',
              trigger: 'blur'
            },
            {
              type: 'email',
              message: 'Please enter a valid email',
              trigger: ['blur', 'change']
            }
          ]"
        >
          <el-input placeholder="Email" autocomplete="email" v-model="form.email" />
        </el-form-item>
        <el-form-item
          prop="password"
          :rules="[
            {
              required: true,
              message: 'Password is required',
              trigger: 'blur'
            },
            {
              min: 6,
              message: 'Too short...',
              trigger: ['blur', 'change']
            }
          ]"
        >
          <el-input type="password" autocomplete="off" placeholder="Password" v-model="form.password">
            <router-link slot="suffix" to="/recovery">
              Forgot password?
            </router-link>
          </el-input>
        </el-form-item>
        <el-button :loading="getLoading" class="auth-btn" type="primary" @click="submitForm('form')">SignIn</el-button>
        <HelpLink title="SignUp" description="Вon't have an account?" link="/signup" />
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import HelpLink from '@/components/HelpLink';
import { mapGetters } from 'vuex';
export default {
  name: 'Login',
  data: () => ({
    form: {
      email: '',
      password: ''
    }
  }),
  computed: {
    ...mapGetters('auth', ['getError', 'getLoading'])
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            await this.$store.dispatch('auth/signIn', this.form);
            this.$router.push('/');
          } catch (error) {
            this.$notify.error({
              title: 'Error!',
              message: `${this.getError}`
            });
            throw error;
          }
          this.$refs[formName].resetFields();
        } else {
          this.$notify.info({
            title: 'Warning!',
            message: 'Check the entered data',
            type: 'warning'
          });
          return false;
        }
      });
    }
  },
  components: {
    HelpLink
  }
};
</script>

<style scoped lang="scss">
.auth-btn {
  width: 100%;
}
</style>
