<template>
  <el-row :gutter="20">
    <el-col :span="12" :offset="6">
      <h2>Profile edit</h2>
      <el-form :model="form" ref="form">
        <el-form-item
          prop="email"
          :rules="[
            {
              required: true,
              message: 'Поле email не должно быть пустым',
              trigger: 'blur'
            },
            {
              type: 'email',
              message: 'Введите корректный email',
              trigger: ['blur', 'change']
            }
          ]"
        >
          <el-input placeholder="Email" autocomplete="email" v-model="form.email" />
        </el-form-item>
        <el-form-item
          prop="firstName"
          :rules="[
            {
              required: true,
              message: 'Поле firstName не должно быть пустым',
              trigger: ['blur', 'change']
            }
          ]"
        >
          <el-input placeholder="First name" autocomplete="off" v-model="form.firstName" />
        </el-form-item>
        <el-form-item
          prop="lastName"
          :rules="[
            {
              required: true,
              message: 'Поле lastName не должно быть пустым',
              trigger: ['blur', 'change']
            }
          ]"
        >
          <el-input placeholder="Last name" autocomplete="off" v-model="form.lastName" />
        </el-form-item>
        <el-form-item prop="password">
          <el-input type="password" autocomplete="off" placeholder="Пароль" v-model="form.password" />
        </el-form-item>
        <el-button :loading="getLoading" class="auth-btn" type="primary" @click="submitForm('form')">
          {{ getLoading ? 'Editing...' : 'Edit' }}
        </el-button>
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'ProfileEdit',
  data: () => ({
    form: {
      email: '',
      firstName: '',
      lastName: '',
      password: ''
    }
  }),
  computed: {
    ...mapGetters('profile', ['getUser', 'getLoading', 'getError'])
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            await this.$store.dispatch('profile/editProfile', this.form);
            await this.$store.dispatch('profile/fetchUser');
            this.$notify({
              title: 'Profile successfully updated',
              type: 'success'
            });
          } catch (error) {
            this.$notify.error({
              title: 'Error!',
              message: `${this.getError}`
            });
            throw error;
          }
          this.form.password = '';
        } else {
          this.$notify.info({
            title: 'Warning!',
            message: 'Check the entered data',
            type: 'warning'
          });
          return false;
        }
      });
    }
  },
  async mounted() {
    await this.$store.dispatch('profile/fetchUser');

    this.form.email = this.getUser.email;
    this.form.firstName = this.getUser.firstName;
    this.form.lastName = this.getUser.lastName;
  }
};
</script>

<style lang="scss" scoped>
h2 {
  margin-top: 40px !important;
}
</style>
