<template>
  <el-row :gutter="20">
    <el-col :span="12" :offset="6">
      <h2>Psssword recovery</h2>
      <el-form :model="form" ref="form">
        <el-form-item
          prop="email"
          :rules="[
            {
              required: true,
              message: 'Email is required',
              trigger: 'blur'
            },
            {
              type: 'email',
              message: 'Please enter a valid email',
              trigger: ['blur', 'change']
            }
          ]"
        >
          <el-input placeholder="Email" autocomplete="email" v-model="form.email" />
        </el-form-item>
        <el-button :loading="getLoading" class="auth-btn" type="primary" @click="submitForm('form')"
          >Send email</el-button
        >
      </el-form>
      <HelpLink title="To login page" link="/login" />
    </el-col>
  </el-row>
</template>

<script>
import { mapGetters } from 'vuex';
import HelpLink from '@/components/HelpLink';

export default {
  name: 'Login',
  data: () => ({
    form: {
      email: ''
    }
  }),
  computed: {
    ...mapGetters('auth', ['getError', 'getLoading'])
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            await this.$store.dispatch('auth/recoveryPassword', this.form);
            this.$notify({
              title: 'Email has been sent!',
              message: 'Go to your inbox and follow the instructions in the email.',
              type: 'success'
            });
            this.$router.push('/login');
          } catch (error) {
            this.$notify.error({
              title: 'Error!',
              message: `${this.getError}`
            });
            throw error;
          }
          this.$refs[formName].resetFields();
        } else {
          this.$notify.info({
            title: 'Warning!',
            message: 'Check the entered data',
            type: 'warning'
          });
          return false;
        }
      });
    }
  },
  mounted() {
    this.$store.commit('auth/init');
  },
  components: {
    HelpLink
  }
};
</script>

<style scoped lang="scss">
.auth-btn {
  width: 100%;
}
</style>
