<template>
  <el-row :gutter="20">
    <el-col :span="12" :offset="6">
      <h2>SignUp</h2>
      <el-form :model="form" ref="form">
        <el-form-item
          prop="firstName"
          :rules="[
            {
              required: true,
              message: 'Firstname is required',
              trigger: ['blur', 'change']
            }
          ]"
        >
          <el-input placeholder="Имя" v-model="form.firstName" />
        </el-form-item>
        <el-form-item
          prop="lastName"
          :rules="[
            {
              required: true,
              message: 'Lastname is required',
              trigger: ['blur', 'change']
            }
          ]"
        >
          <el-input placeholder="Фамилия" v-model="form.lastName" />
        </el-form-item>
        <el-form-item
          prop="email"
          :rules="[
            {
              required: true,
              message: 'Email is required',
              trigger: 'blur'
            },
            {
              type: 'email',
              message: 'Please enter a valid email',
              trigger: ['blur', 'change']
            }
          ]"
        >
          <el-input placeholder="Email" v-model="form.email" />
        </el-form-item>
        <el-form-item
          prop="password"
          :rules="[
            {
              required: true,
              message: 'Password is required',
              trigger: 'blur'
            },
            {
              min: 6,
              message: 'Too short...',
              trigger: ['blur', 'change']
            }
          ]"
        >
          <el-input type="password" autocomplete="off" placeholder="Password" v-model="form.password" />
        </el-form-item>
        <el-button :loading="getLoading" type="primary" class="auth-btn" @click="submitForm('form')">SignUp</el-button>
        <HelpLink title="SignIn" description="Have an account?" link="/login" />
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import HelpLink from '@/components/HelpLink';
import { mapGetters } from 'vuex';
export default {
  name: 'Login',
  data: () => ({
    form: {
      firstName: '',
      lastName: '',
      email: '',
      password: ''
    }
  }),
  computed: {
    ...mapGetters('auth', ['getError', 'getLoading'])
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            await this.$store.dispatch('auth/signUp', this.form);
            this.$router.push('/');
          } catch (error) {
            this.$notify.error({
              title: 'Error!',
              message: `${this.getError}`
            });
            throw error;
          }
          this.$refs[formName].resetFields();
        } else {
          this.$notify.info({
            title: 'Warning!',
            message: 'Check the entered data',
            type: 'warning'
          });
          return false;
        }
      });
    }
  },
  mounted() {
    this.$store.commit('auth/init');
  },
  components: {
    HelpLink
  }
};
</script>

<style scoped lang="scss">
.auth-btn {
  width: 100%;
}
</style>
