<template>
  <el-button
    v-if="emailVerified"
    type="danger"
    class="add-to-favorite"
    :icon="icon"
    :title="title"
    @click="favoriteAction"
    circle
  />
</template>

<script>
export default {
  name: 'FavoriteButton',
  props: ['emailVerified', 'hotel', 'isFavorite'],
  computed: {
    icon() {
      if (this.isFavorite) {
        return 'el-icon-star-on';
      } else {
        return 'el-icon-star-off';
      }
    },
    title() {
      if (this.isFavorite) {
        return 'Remove from favorites';
      } else {
        return 'Add to favorites';
      }
    }
  },
  methods: {
    async favoriteAction() {
      if (this.isFavorite) {
        await this.$store.dispatch('favorites/removeFromFavorite', this.hotel.id);
        this.$notify.info({
          title: `${this.hotel.title}`,
          message: 'succesfuly removed from favorites'
        });
      } else {
        await this.$store.dispatch('favorites/addToFavorite', this.hotel);
        this.$notify.info({
          title: `${this.hotel.title}`,
          message: 'succesfuly added to favorites'
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.add-to-favorite {
  position: absolute;
  right: 0;
  top: 0;
}
</style>
