<template>
  <p>
    {{ description }} <router-link :to="link">{{ title }}</router-link>
  </p>
</template>

<script>
export default {
  name: 'HelpLink',
  props: ['link', 'title', 'description']
};
</script>
