<template>
  <div class="filter">
    <el-button
      v-for="(item, i) in filter"
      :key="i"
      class="filter__btn"
      :class="{ active: activeFilter === item }"
      @click="$emit('change-filter', item)"
    >
      {{ item }}
    </el-button>
  </div>
</template>

<script>
export default {
  name: 'HotelsFilter',
  data: () => ({
    filter: ['Paris', 'Cologne', 'Brussels', 'Amsterdam', 'Hamburg', 'Dusseldorf']
  }),
  props: ['activeFilter']
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.filter {
  display: flex;
  margin: 40px 0 20px;
  &__btn {
    flex-basis: 1;
    flex-grow: 1;
    &.active {
      background: $primary;
      border-color: $primary;
      color: #fff;
    }
  }
}
</style>
