<template>
  <div class="hotel-card" v-loading="loading">
    <div class="hotel-card__image">
      <img @click="redirect(hotel.id)" :src="hotel.preview_image" />
      <el-tag v-if="hotel.is_premium" class="hotel-card__tag" effect="dark" type="primary">premium</el-tag>
    </div>
    <div class="hotel-card__body">
      <h5 @click="redirect(hotel.id)">{{ hotel.title }}</h5>
      <FavoriteButton :isFavorite="checkIsFavorite" :hotel="hotel" :emailVerified="emailVerified" />
      <el-rate v-model="value" disabled show-score text-color="#ff9900" :score-template="valueText" />
      <p class="hotel-card__value">Max guests: {{ hotel.max_adults }}</p>
      <p class="hotel-card__value">Bedrooms: {{ hotel.bedrooms }}</p>
      <span class="hotel-card__price"> {{ hotel.price }}$ / night </span>
    </div>
  </div>
</template>

<script>
import FavoriteButton from '@/components/FavoriteButton';
export default {
  name: 'HotelCard',
  data: () => ({
    value: null,
    isFavorite: false,
    valueText: ''
  }),
  props: ['hotel', 'emailVerified', 'favorites', 'loading'],
  computed: {
    checkIsFavorite() {
      if (this.favorites.length) {
        const index = this.favorites.findIndex(item => item.id === this.hotel.id);
        if (index === -1) {
          return false;
        } else {
          return true;
        }
      } else {
        return false;
      }
    }
  },
  methods: {
    redirect(id) {
      this.$router.push({ name: 'HotelMore', params: { id: id } });
    }
  },
  async mounted() {
    this.value = this.hotel.rating;
    this.valueText = this.hotel.rating.toFixed(1);
  },
  components: {
    FavoriteButton
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';
.hotel-card {
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray;
  &__image {
    height: 200px;
    width: 40%;
    cursor: pointer;
    position: relative;
    img {
      border-radius: $radius;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__tag {
    position: absolute;
    top: 15px;
    left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: $radius / 2;
  }
  &__body {
    width: 60%;
    padding: 0 55px 0 15px;
    position: relative;
    h5 {
      cursor: pointer;
    }
  }
  &__value {
    font-size: 16px;
    margin: 0;
  }
  &__price {
    position: absolute;
    left: 15px;
    bottom: 0;
    font-size: 20px;
    font-weight: 700;
  }
}
</style>
