<template>
  <div class="hotels">
    <div class="hotels__top">
      <h2>{{ itemsLength }} places to stay in {{ activeFilter }}</h2>
      <el-select v-model="sort" placeholder="Sort">
        <el-option v-for="item in sortOptions" :key="item.value" :label="item.label" :value="item.value"> </el-option>
      </el-select>
    </div>
    <div
      v-for="hotel in items"
      :key="hotel.id"
      @mouseenter="$emit('set-active-card', hotel)"
      @mouseleave="$emit('set-active-card', undefined)"
    >
      <HotelCard
        :hotel="hotel"
        :favorites="getFavorites"
        :loading="getLoading"
        :emailVerified="getUser.emailVerified"
      />
    </div>
  </div>
</template>

<script>
import HotelCard from '@/components/HotelCard';
import { mapGetters } from 'vuex';
export default {
  name: 'Hotels',
  data: () => ({
    allItems: [],
    sortOptions: [
      {
        label: 'Price low to high',
        value: 'price-low'
      },
      {
        label: 'Price hight to low',
        value: 'price-high'
      },
      {
        label: 'Rating low to high',
        value: 'rating-low'
      },
      {
        label: 'Rating hight to low',
        value: 'rating-hight'
      }
    ],
    sort: 'price-low'
  }),
  props: ['hotels', 'activeFilter'],
  computed: {
    ...mapGetters('favorites', ['getLoading', 'getFavorites']),
    ...mapGetters('profile', ['getUser']),
    items() {
      if (this.sort === 'price-low') {
        return this.hotels.filter(item => item.city.name === this.activeFilter).sort((a, b) => a.price - b.price);
      } else if (this.sort === 'price-high') {
        return this.hotels.filter(item => item.city.name === this.activeFilter).sort((a, b) => b.price - a.price);
      } else if (this.sort === 'rating-low') {
        return this.hotels.filter(item => item.city.name === this.activeFilter).sort((a, b) => a.rating - b.rating);
      } else {
        return this.hotels.filter(item => item.city.name === this.activeFilter).sort((a, b) => b.rating - a.rating);
      }
    },
    itemsLength() {
      return this.hotels.filter(item => item.city.name === this.activeFilter).length;
    }
  },
  methods: {
    filterItems() {
      this.allItems = this.hotels.filter(item => item.city.name === this.activeFilter);
    }
  },
  components: {
    HotelCard
  },
  async mounted() {
    await this.$store.dispatch('profile/fetchUser');
    await this.$store.dispatch('favorites/fetchFavorites');
    this.filterItems();
  }
};
</script>

<style lang="scss" scoped>
.hotels {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 80px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    h2 {
      margin: 0 !important;
    }
  }
  &::-webkit-scrollbar {
    width: 0px;
    display: none;
  }
  &::-webkit-scrollbar-track {
    width: 0px;
    display: none;
  }
}
</style>
