<template>
  <l-map :zoom="zoom" :center="center" style="height: 100%; width: 100%;">
    <l-tile-layer :url="url" :attribution="attribution" />
    <l-marker
      v-for="marker in activeHotels"
      :key="marker.id"
      :lat-lng="[marker.location.latitude, marker.location.longitude]"
      :icon="activeCard && marker.id === activeCard.id ? iconActive : icon"
      @mouseenter="$emit('set-active-card', marker)"
      @mouseleave="$emit('set-active-card', undefined)"
    >
      <l-popup>
        <img @click="redirect(marker.id)" :src="marker.preview_image" class="image" />
        <div class="body">
          <h5 @click="redirect(marker.id)">{{ marker.title }}</h5>
          <el-rate v-model="marker.rating" disabled>{{ marker.rating }}</el-rate>
          <p>
            <strong>{{ marker.price }}$</strong> / night
          </p>
        </div>
      </l-popup>
    </l-marker>
  </l-map>
</template>

<script>
import { icon } from 'leaflet';
import staticIcon from '@/assets/marker.svg';
import activeIcon from '@/assets/marker-active.svg';
export default {
  name: 'Map',
  data: () => ({
    zoom: 12,
    url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    icon: icon({
      iconUrl: `${staticIcon}`,
      iconSize: [30, 41]
    }),
    iconActive: icon({
      iconUrl: `${activeIcon}`,
      iconSize: [30, 41]
    })
  }),
  props: ['activeHotels', 'activeCard'],
  computed: {
    center() {
      return [this.activeHotels[0].city.location.latitude, this.activeHotels[0].city.location.longitude];
    }
  },
  methods: {
    redirect(id) {
      this.$router.push({ name: 'HotelMore', params: { id: id } });
    }
  }
};
</script>

<style lang="scss">
@import '@/scss/_variables';

.leaflet-popup {
  max-width: 250px;
  width: 250px;
}
.leaflet-popup-content-wrapper {
  padding: 0;
}
.leaflet-popup-content {
  margin: 0;
  border-radius: $radius;
  .image {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: $radius $radius 0 0;
    cursor: pointer;
  }
  .body {
    padding: 10px;
    h5 {
      cursor: pointer;
      margin-bottom: 5px !important;
      font-size: 16px !important;
    }
    p {
      margin: 5px 0 0;
    }
  }
}
.leaflet-container a.leaflet-popup-close-button {
  color: $main-text;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    color: $main-text;
  }
}
</style>
