<template>
  <nav class="navbar">
    <router-link class="navbar__logo" to="/">VueBnb</router-link>
    <div class="navbar__right">
      <el-dropdown trigger="click" @command="redirect">
        <el-button type="primary" :loading="!getUser.email">
          {{ getUser ? getUser.email : 'Profile' }} <i class="el-icon-arrow-down el-icon--right" />
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item
            v-for="item in profileLinks"
            :key="item.title"
            :disabled="item.link === $route.path || !getUser.emailVerified"
            :command="item.link"
          >
            {{ item.title }}
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <el-button class="logout" type="danger" @click="logout">Logout</el-button>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'Navbar',
  data: () => ({
    profileLinks: [
      {
        title: 'Profile edit',
        link: '/profile-edit'
      },
      {
        title: 'Orders',
        link: '/orders'
      },
      {
        title: 'Favorites',
        link: '/favorites'
      }
    ]
  }),
  computed: {
    ...mapGetters('profile', ['getUser'])
  },
  methods: {
    async logout() {
      await this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    },
    redirect(command) {
      if (command === this.$route.path) {
        return;
      } else {
        this.$router.push(`${command}`);
      }
    }
  },
  async mounted() {
    await this.$store.dispatch('profile/fetchUser');
    if (this.getUser && !this.getUser.emailVerified) {
      this.$notify({
        title: 'Email is not verify',
        message: 'please go to your mailbox and confirm your email',
        type: 'warning'
      });
    }
  }
};
</script>

<style scoped lang="scss">
@import '@/scss/_variables';
.navbar {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $gray;
  &__logo {
    color: $primary;
    font-size: 20px;
    font-weight: bold;
  }
  &__right {
    .logout {
      width: 100px;
      margin-left: 15px;
    }
  }
}
</style>
