<template>
  <div class="reviews" v-loading="getLoading">
    <h2>Reviews</h2>
    <p class="reviews__empty" v-if="!reviews.length">No reviews yet...</p>
    <div class="review" v-for="item in reviews" :key="item.timestamp">
      <i @click="deleteReview(item.user.uid)" v-if="item.user.uid === uid" class="review_delete el-icon-close" />
      <div class="review__user">
        <el-avatar>
          {{ item.user.firstName[0] }}
          {{ item.user.lastName[0] }}
        </el-avatar>
        <div>{{ item.user.firstName }} {{ item.user.lastName }}</div>
      </div>
      <div class="review__text">{{ item.text }}</div>
      <el-rate :value="item.rating" disabled show-score text-color="#ff9900" :score-template="String(item.rating)" />
      <div class="review__date">{{ item.timestamp | date('date') }}</div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import firebase from 'firebase/app';
export default {
  name: 'Reviews',
  props: ['reviews', 'checkUserReview', 'hotelId'],
  computed: {
    ...mapGetters('reviews', ['getLoading']),
    uid() {
      const user = firebase.auth().currentUser;
      return user.uid;
    }
  },
  methods: {
    async deleteReview(id) {
      await this.$store.dispatch('reviews/deleteReview', { hotelId: this.hotelId, userId: id });
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.reviews {
  margin-bottom: 40px;
  &__empty {
    font-size: 16px;
  }
  .review {
    border: 1px solid $gray;
    border-radius: $radius;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    &__text {
      font-size: 16px;
      margin: 5px 0;
    }
    &__user {
      display: flex;
      align-items: center;
      .el-avatar {
        margin-right: 15px;
      }
    }
    &__date {
      margin-top: 5px;
      font-size: 12px;
    }
    &_delete {
      position: absolute;
      font-weight: 700;
      font-size: 18px;
      top: 15px;
      right: 15px;
      line-height: 1;
      cursor: pointer;
    }
  }
}
</style>
