<template>
  <div class="review">
    <h3>Add review</h3>
    <el-form :model="form" ref="form">
      <el-form-item
        prop="text"
        :rules="[
          {
            required: true,
            message: 'Text is required',
            trigger: 'blur'
          },
          {
            min: 10,
            message: 'Minimum 10 characters',
            trigger: ['blur', 'change']
          }
        ]"
      >
        <el-input
          type="textarea"
          maxlength="500"
          show-word-limit
          placeholder="Type your review..."
          v-model="form.text"
        />
      </el-form-item>
      <el-rate v-model="value" :texts="['very bad', 'bad', 'normal', 'good', 'great']" show-text />
      <el-button :loading="getLoading" class="auth-btn" type="primary" @click="submitForm('form')">Submit</el-button>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'ReviewForm',
  data: () => ({
    value: null,
    form: {
      text: ''
    }
  }),
  props: ['hotelId'],
  computed: {
    ...mapGetters('reviews', ['getError', 'getLoading']),
    ...mapGetters('profile', ['getUser'])
  },
  async mounted() {
    await this.$store.dispatch('profile/fetchUser');
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid && this.value) {
          try {
            await this.$store.dispatch('reviews/addReview', {
              text: this.form.text,
              id: this.hotelId,
              rating: this.value,
              user: {
                firstName: this.getUser.firstName,
                lastName: this.getUser.lastName
              }
            });
          } catch (error) {
            this.$notify.error({
              title: 'Error!',
              message: `${this.getError}`
            });
            throw error;
          }
          this.form.text = '';
          this.value = null;
        } else {
          this.$notify.info({
            title: 'Warning!',
            message: 'Check the entered data',
            type: 'warning'
          });
          return false;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.review {
  margin-bottom: 40px;
  .el-rate {
    margin-bottom: 15px;
  }
}
</style>
