<template>
  <div id="app">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
import AuthLayout from '@/layouts/AuthLayout.vue';
import MainLayout from '@/layouts/MainLayout.vue';
export default {
  computed: {
    layout() {
      return (this.$route.meta.layout || 'auth') + '-layout';
    }
  },
  components: {
    AuthLayout,
    MainLayout
  }
};
</script>

<style lang="scss">
@import '@/scss/_variables';
@import '@/scss/_typography';
* {
  box-sizing: border-box;
  outline: none !important;
}
body {
  margin: 0;
  color: $main-text;
  line-height: 1.5;
}
.el-notification__group h2 {
  font-size: 16px !important;
}
</style>
