@import './variables';

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold !important;
  color: $main-text !important;
}
h1,
.h1 {
  font-size: 40px !important;
  margin-bottom: 15px !important;
}
h2,
.h2 {
  font-size: 32px !important;
}
h3,
.h3 {
  font-size: 24px !important;
}
h4,
.h4 {
  font-size: 20px !important;
}
h5,
.h5,
.h5.el-link {
  font-size: 18px !important;
}
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px !important;
}

.el-link {
  text-decoration: underline;
  text-decoration-color: transparent;
  &:hover {
    &::after {
      display: none;
    }
  }
  &.el-link--primary {
    &:hover {
      color: #e6a23c !important;
    }
  }
}
