<template>
  <div class="container auth-wrapper">
    <div class="row">
      <div class="col-lg-6 col-sm-10 mx-auto">
        <router-view />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.auth-wrapper {
  padding: 40px 15px;
}
</style>
